body {
    text-align: center;
}

.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 250px;
    height: auto;
}

header {
    padding-top: 60px;
    padding-bottom: 20px;
}

.alert {
    width: 40%;
    margin: auto;
}

.table th, .table td {
    vertical-align: middle;
}

.th-name {
    width: 80%;
}

.th-price {
    width: 10%;
}

.th-option {
    width: 10%;
}

ol {
    padding-left: 0px;
}
